body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  margin: 0;
  padding: 0;
  color: #ccc; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  text-align: center;
}

.login-container {
  background-color: #111;
  padding: 30px;
  border: 2px solid #666;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.8); /* Red box shadow */
  max-width: 400px; /* Limit width to avoid stretching on larger screens */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #aaa;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #222;
  color: #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333; /* Darker color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555; /* Darker hover color */
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.text {
  color: #aaa;
}